services:
  msb-infocenter:
    image: falkkuehnel/msb-inventory
    container_name: msb-inventory
    environment:
      - VIRTUAL_HOST=zeug.makerspacebonn.de
      - LETSENCRYPT_HOST=zeug.makerspacebonn.de
    env_file:
      - env_inventory
    networks:
      - webproxy

networks:
  webproxy:
    external: true