services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    environment:
      - LETSENCRYPT_HOST=portainer.idiot.games
      - VIRTUAL_PORT=9000
      - VIRTUAL_HOST=portainer.idiot.games
    networks:
      - webproxy

networks:
  webproxy:
    external: true

volumes:
  portainer_data:
    external: true
